:root {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
